<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
	<session-factory name="HibernateFactory">
		<property name="dialect">@hibernateDialect@</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.connect.username">@user@</property>
		<property name="hibernate.connection.password">@pass@</property>
		<property name="hibernate.connection.url">@connection_url@</property>

		<!-- Mapping files -->
		<mapping resource="mappings/game.hbm.xml" />
		<mapping resource="mappings/team.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>