<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
	<session-factory name="HibernateFactory">
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.connect.username">sportsbook</property>
		<property name="hibernate.connection.password">admin!</property>
		<property name="hibernate.connection.url">jdbc:mysql://sql09.freemysql.net/sportsbook</property>
	</session-factory>
</hibernate-configuration>